
body {
  font-family: "Lato";
}

.inner {
  margin: auto;
  width: 1100px;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.fa-bolt{
  opacity: 0.7;
  font-size: 2em;
  padding: 15px 0;
  float: left;
}

.header-contents {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae	;
  text-decoration: none;
  float: right;
  margin-top:10px
}

.header-contents:hover {
  color: #333;
  transition: .3s;
}

/* ================================================ */

.main {
  padding-top: 62px;
}

/* ================================================ */


.main_title {
  width: 100%;
  background-color: #f2f2f2	;
}

.theme {
  padding: 250px 0;
  text-align: center;
}

.theme h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae	;
  padding-bottom: 20px;
  font-family: "Raleway";
}

.theme p{
  font-size: 30px;
  color: #c0c0c0;
}

/* ================================================ */

.what_we_can_do {
  width: 100%;
  background-color: #74cfae	;
  color: #fff;
}

.what_we_can_do-inner {
  text-align: center;
  padding-top: 50px;
  display: flex;
}

.what_we_can_do img{
  margin-left: 100px;
}

.what_we_can_do-text{
  margin-left: 120px;
  padding-top: 20px;
}

.what_we_can_do h1 {
  font-size: 24px;
  padding-bottom: 35px;
  font-family: "Raleway";
}

.what_we_can_do p {
  font-size: 20px;
}

/* ================================================ */

.our_latest_work {
  width: 100%;
  background-color: #f2f2f2	;
}

.our_latest_work-inner {
  text-align: center;
  color: #333;
}

.our_latest_work h1 {
  font-size: 24px;
  padding-top: 60px;
  font-family: "Raleway";
}

.our_latest_work p {
  display: inline-block;
}


.our_latest_work img {
  opacity: .7;
  margin: 40px 50px ;
}

.our_latest_work img:hover {
  opacity: 1;
  transition: .3s;
}

.our_latest_work-text {
  padding: 50px 0 70px 0;
}

.our_latest_work a {
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae	;
  text-decoration: none;
  margin-left: 90px;
  vertical-align: top;
  display: inline-block;
}

.our_latest_work a:hover {
  color: #333;
  transition: .3s;
}
/* :nth-child() */

/* ================================================ */

.our_skills {
  width: 100%;
  background-color: #4e4e4e;
}

.our_skills-inner{
  color: #fff;
  text-align: center;
}

.our_skills h1 {
  padding: 70px 0;
  margin: 0 auto;
}

.our_skills-contents { 
  display: flex;
  justify-content: center;
}

.our_skills figure{
  padding: 0 90px 100px 90px;
}

.our_skills figcaption {
  font-size: 16px;
  padding-top: 20px ;
}

/* ================================================ */

.sns {
  width: 100%;
  background-color: #f2f2f2	;
}

.sns-inner {
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.sns-box {
  width: 185px;
  height: 100px;
  line-height:100px;
  text-align: center;
}

.sns-inner a {
  color: #74cfae;
  font-size: 2em;
}

.sns-inner .sns-box:hover {
  background-color: #fff;
  transition: .3s;
}

/* ================================================ */

.footer {
  width: 100%;
  background-color: #74cfae;
  color: #fff;
  text-align: end;
}

.footer p {
  padding: 20px 0 25px 0;
}
